@page
@model Web.Areas.Admin.Pages.Semesters.IndexModel

@{
    ViewData["Title"] = "Semesters";
}

<h1 class="mt-4">@ViewBag.Title</h1>

<p class="text-right">
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Semester[0].Season)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Semester[0].Year)
            </th>
            <th>Action</th>

            <th>Advising</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Semester) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Season)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            
            <td class="text-right d-inline-flex">
                <a asp-page="./Delete" class="btn btn-danger" asp-route-id="@item.Id">Delete</a>
                
            </td>
            <td>
                <form method="post">
                    <input asp-for="semester.Id" type="hidden" value="@item.Id" />

                    @if (item.isActive == true)
                    {
                        <input type="submit" value="End Advising"
                               class="btn btn-primary btn-danger"
                               asp-page-handler="EndSemester" />
                    }
                    else
                    {
                        <input type="submit" value="Start Advising"
                               class="btn btn-primary btn-success"
                               asp-page-handler="SartSemester" />
                    }

                </form>
            </td>
        </tr>
}
    </tbody>
</table>
